body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 変更: center から flex-start に */
  padding: 0;
  padding-top: 10vh;
  margin: 0
}

#container {
  display: flex;
}

select {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
/* ---------- 切替ボタン ---------------- */
#mode-toggle {
  margin-bottom: 30px;
}

/* --------- タイマー ----------- */
.timer-container {
  text-align: center;
  padding: 20px;
}

#time {
  font-size: 48px;
  margin: 20px 0;
}

/* ----------- ポモドーロ -------------- */
#pomodoro-container {
  text-align: center;
  padding: 20px;
}
.hidden {
  display: none;
}